/* Topics.module.css */

.topicsContainer {
  position: relative;
  min-height: calc(100vh + 100px);
  width: 100vw;
  margin: -100px 0 0 calc(-50vw + 50%);
  padding-top: 100px;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 2rem;
}

/* Responsive design for big monitors/tv screens */
@media (min-height: 1200px) {
  .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
} 