/* Loading.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, #023430, #00684A);
    height: 100vh;
    padding: 0.75rem;
}

.loadingCard {
    width: 80%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff, #f3f4f6) !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);  
    border-radius: 20px;
}

.titleSkeleton {
    margin-bottom: 1rem;
}

.subtitleSkeleton {
    margin-bottom: 2rem;
}

.userSkeletons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
} 