/* ChatHeader.module.css */

.chatHeader {
    display: flex;
    place-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.titleGroup {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title {
    color: #1a1a1a;
    font-size: 1rem;
}