/* Login.module.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00684A;
    min-height: 100vh;
    padding: 0.75rem;
}

.card {
    width: min(80%, 800px);
    background: linear-gradient(to bottom, #ffffff, #f3f4f6) !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modalMainContent {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.title,
.subtitle,
.description {
    text-align: center;
}

.title {
    margin-bottom: 1rem;
    color: #1a1a1a;
    font-size: 32px;
}

.subtitle {
    color: #1a1a1a;
    font-weight: 500;
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.usersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 80px;
    margin: 30px 0 20px;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

@media (max-width: 768px) {
    .card {
        width: 95%;
        margin: 0 auto;
        border-radius: 16px;
    }

    .modalMainContent {
        padding: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 0.875rem;
    }

    .usersContainer {
        gap: 15px 5px;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .card {
        border-radius: 12px;
    }

    .modalMainContent {
        padding: 0.75rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .subtitle {
        font-size: 0.8rem;
    }
}
