/* SparklesText.module.css */

.sparklesTextContainer {
  --sparkles-first-color: #9E7AFF;
  --sparkles-second-color: #FE8BBB;
}

.sparklesText {
  font-size: 2.5rem;
  color: #02302c;
}

.sparkleContainer {
  position: relative;
  display: inline-block;
}

.sparkle {
  pointer-events: none;
  position: absolute;
  z-index: 20;
}