/* TopNews.module.css */

.topNewsSection {
  padding: 4rem 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.sectionTitle {
  text-align: center;
  color: #000000;
  margin: 0;
  font-size: 3rem;
}

.sectionSubtitle {
  text-align: center;
  color: #5C6C75;
  margin-bottom: 4rem;
  font-size: 1.1rem;
}

.newsContainer {
  margin: 0 auto;
  position: relative;
}

.newsCardWrapper {
  transition: opacity 1.2s ease;
}

.newsCardWrapper.visible {
  opacity: 1;
}

.newsCardWrapper.hidden {
  opacity: 0;
}

@media (min-height: 1200px) {
  .container {
    max-width: 1200px;
  }
}