/* GridPattern.module.css */

.container {
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  fill: rgba(0, 104, 74, 0.8);
  stroke: rgba(156, 163, 175, 0.3);
}

.overflowVisible {
  overflow: visible;
}
