/* EditorPanel.module.css */

.editorPanel {
    height: 100%;
    padding: 0;
    overflow: hidden;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 100%;
    min-height: 600px;
    overflow: hidden;
}

.sidebar {
    grid-column: 1 / 2;
    height: 100%;
    overflow: hidden;
}

.textEditor {
    grid-column: 2 / 3;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* Mobile styles */
.mobileEditor {
    border: none;
    border-radius: 0;
    margin: 0;
}

.mobileEditor .container {
    grid-template-columns: 1fr;
    min-height: 100%;
}

.mobileEditor .textEditor {
    grid-column: 1 / 2;
} 