.editorPanel {
    height: 100%;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 100%;
    min-height: 600px;
}

.sidebar {
    grid-column: 1 / 2;
}

.textEditor {
    grid-column: 2 / 3;
} 