/* Search.module.css */

.searchSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 3rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive design */
@media (min-height: 1200px) {
  .searchSection {
    padding-bottom: 2rem;
  }
}