/* DesktopNavbar.module.css */

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 5rem;
  margin: 0.8rem auto;
  padding: 1rem;
  border-radius: 40px;
  width: fit-content;

  /* Glassmorphism effect */
  background: rgba(255, 255, 255, 0.76);
  border: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.textSize {
  font-size: 15px; 
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  justify-self: start;
}

/* Navigation links */
.navlinks {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  grid-column: 2;
}

.navLink {
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: #000000;
}

.profileAndLogoutContainer {
  display: flex;
  gap: 1rem;
  justify-self: end;
}
