/* RecQueries.module.css */

.recQueriesContainer {
  width: 100%;
}

.recQueriesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.recQueryCard {
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 0 0px rgba(0, 0, 0, 0.8), 0 4px 12px rgba(0, 0, 0, 0.25);
  place-items: center;
  padding: 1rem;
}

.recQueryCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.9), 0 6px 16px rgba(0, 0, 0, 0.3);
}

.recQueryText {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

/* for big monitors/tv screens */
@media (min-height: 1200px) {
  .recQueriesGrid {
    gap: 1.5rem;
  }
  
  .recQueryText {
    font-size: 1.1rem !important;
  }
}
