/* SearchBar.module.css */

.searchContainer {
  position: relative;
  max-width: 60vw;
  width: 100%;
  margin: 2rem auto;
  z-index: 10;
}

.searchBarWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.searchCard {
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 3rem !important;
  min-height: 3rem !important;
  max-height: 3rem !important;
  overflow: hidden !important;
  flex: 1;
}

.searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.searchInput {
  flex: 1;
  padding: 0 1.25rem;
  border: none;
  outline: none;
  font-size: 0.95rem;
  height: 100%;
}

.searchIconContainer {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 0.9;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: #00684A;
}

/* for big monitors/tv screens */
@media (min-height: 1200px) {
  .searchCard {
    height: 4.5rem !important;
    min-height: 4.5rem !important;
    max-height: 4.5rem !important;
  }
  
  .searchInput {
    padding: 0 1.5rem;
    font-size: 1.1rem;
  }
  
  .searchIconContainer {
    padding: 0 1.5rem;
  }
  
  .searchIcon {
    width: 24px;
    height: 24px;
  }
}