/* User.module.css */

.userContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userCard {
    width: 100%;
    min-width: 105px;
    max-width: 130px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 5px;
}

.userName {
    margin-top: -5px;
}

.userDescription {
    text-align: center;
    color: #5C6C75;
}

.userSelected {
    background-color: rgba(235, 235, 235, 0.868);
}