.userCard {
    max-width: 130px;
    min-width: 105px;
    width: 100%;
    height: 150px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0px;
}

.userCard img {
    width: 100%;
    height: auto;
}

.userName {
    margin-top: -5px;
}

.userSelected {
    background-color: rgba(235, 235, 235, 0.868);
}

/* .userCard:hover{
    cursor: pointer;
} */