/* Headline.module.css */

.headlineSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  margin: -100px 0 0 calc(-50vw + 50%);
  padding-top: 70px;
  background: #00684A;
  min-height: calc(80vh + 100px);
}

.heroCard {
  width: fit-content;
  height: fit-content;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  padding: 2rem 2rem;
  background: linear-gradient(to bottom, #ffffff, #f3f4f6);
  overflow: hidden;
  position: relative;
}

.twoColumnLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.contentColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.globeColumn {
  height: 37.5rem;
  margin-left: 2rem;
  transform: translateX(35%) scale(1.3);
  position: relative;
  z-index: 1;
}

.contentCard {
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtitle {
  color: #00684A;
}

.mainHeadline {
  font-size: 2rem;
}

.subHeadline {
  color: darkslategray;
}

.ctaButton{
  border-radius: 20px;
}

@media (min-height: 1200px) {
  .heroCard {
    height: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 3rem;
  }

  .twoColumnLayout {
    gap: 4rem;
    align-items: center;
    height: 100%;
  }

  .contentCard {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 35rem;
    gap: 1rem;
  }

  .contentColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .globeColumn {
    height: 37.5rem;
    transform: translateX(35%) scale(2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainHeadline {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .subHeadline {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}