/* Loading.module.css */

.genericLoadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 0;
  min-height: 200px;
  justify-content: center;
}

.searchLoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  min-height: 300px;
}

@media (min-height: 1200px) {
  .genericLoadingContainer {
    padding: 4rem 0;
    min-height: 300px;
    gap: 2rem;
  }
  
  .searchLoadingContainer {
    padding: 5rem 0;
    min-height: 400px;
  }
}